<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" (click)="mostrarVotar()">Sistema de Votaciones</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="mostrarVotar()">Votar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="mostrarAdmin()">Administración de Votos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal de contraseña usando Bootstrap -->
<div *ngIf="showPasswordModal" class="modal fade show" style="display: block;" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ingrese la Contraseña</h5>
      </div>
      <div class="modal-body">
        <input type="password" class="form-control" [(ngModel)]="passwordInput" placeholder="Contraseña">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelAdmin()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmAdmin()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Vista de votación -->
<div class="container mt-5" *ngIf="!voteDone; else thankYouTemplate">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center mb-3" *ngFor="let perfil of perfiles">
      <app-perfil
        [nombre]="perfil.nombre"
        [imagen]="perfil.imagen"
        [disabled]="voteDone"
        (voteCast)="handleVote()">
      </app-perfil>
    </div>
  </div>
</div>


<!-- Overlay de agradecimiento -->
<ng-template #thankYouTemplate>
  <div class="overlay">
    <div class="thank-you-message">
      Gracias por tu voto
    </div>
  </div>
</ng-template>

<!-- Vista de administración -->
<div *ngIf="view === 'admin'">
  <app-administracion-votos></app-administracion-votos>
</div>
