<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" (click)="mostrarVotar()">Sistema de Votaciones</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="mostrarVotar()">Votar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="mostrarAdmin()">Administración de Votos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal de contraseña usando Bootstrap -->
<div *ngIf="showPasswordModal" class="modal fade show" style="display: block;" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ingrese la Contraseña</h5>
      </div>
      <div class="modal-body">
        <input type="password" class="form-control" [(ngModel)]="passwordInput" placeholder="Contraseña">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelAdmin()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmAdmin()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Vista de votación -->
<div *ngIf="view === 'votar'">
  <div class="container mt-5" *ngIf="!voteDone; else thankYouTemplate">
    <div class="row justify-content-center">
      <div class="col-md-5 d-flex justify-content-center">
        <app-perfil
          nombre="jorge"
          imagen="https://media.istockphoto.com/id/1394701218/es/foto/concepto-de-b%C3%BAsqueda-de-empleo-encontrar-su-carrera-mujer-mirando-el-sitio-web-en-l%C3%ADnea-por.jpg?s=1024x1024&w=is&k=20&c=NpdzBCC-AVhYkzfLYMef8ZyCC25rSb--fsSlt-ElGrM="
          [disabled]="voteDone"
          (voteCast)="handleVote()">
        </app-perfil>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <app-perfil
          nombre="camila"
          imagen="https://media.istockphoto.com/id/1317961862/es/foto/retrato-de-la-representante-femenina-de-la-organizaci%C3%B3n-hablando-en-conferencia-de-prensa-en.jpg?s=1024x1024&w=is&k=20&c=1_DmgGDCFgt5zf3bqvf-7s6fJlI6I5Q75T8vFFDxNrs="
          [disabled]="voteDone"
          (voteCast)="handleVote()">
        </app-perfil>
      </div>
    </div>
  </div>
</div>

<!-- Overlay de agradecimiento -->
<ng-template #thankYouTemplate>
  <div class="overlay">
    <div class="thank-you-message">
      Gracias por tu voto
    </div>
  </div>
</ng-template>

<!-- Vista de administración -->
<div *ngIf="view === 'admin'">
  <app-administracion-votos></app-administracion-votos>
</div>
